// login
$background-color:#1e2029;
$font1:#cccccc;
$h1:40px;

.login-body{
width: 100%;
height: 100vh;
background-color: $background-color;
color: $font1;
font-size: $h1;
}

// black: {
//     100: "#ffffff",
//     200: "#ffffff",
//     300: "#ffffff",
//     400: "#ffffff",
//     500: "#ffffff",
//     600: "#cccccc",
//     700: "#999999",
//     800: "#666666",
//     900: "#333333"
// },
